@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .outlined-text {
    color: #fff;
    text-shadow:
      -0.3px -0.3px 0 #000,
      0.3px -0.3px 0 #000,
      -0.3px 0.3px 0 #000,
      0.3px 0.3px 0 #000;
  }

  /* REMOVING SCROLLBARS */
  /* ... For firefox and ms respectively */
  .remove-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  /* ... For webkit */
  .remove-scrollbar::-webkit-scrollbar {
    width: 0 !important;
  }

  /* SWIPER CUSTOM CSS */
  /* Navigation buttons */
  .custom-prev,
  .custom-next {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 8px 14px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    z-index: 10;
  }

  @media (min-width: 768px) {
    .custom-prev,
    .custom-next {
      display: block;
    }
  }

  .custom-prev {
    left: 10px;
  }

  .custom-next {
    right: 10px;
  }

  /* Progress bar pagination */
  .swiper-pagination {
    position: absolute;
    top: 110% !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    width: 50% !important;
    background-color: transparent;
    border-bottom: 1px solid #333;
  }

  @media (min-width: 1024px) {
    .swiper-pagination {
      top: 115% !important;
    }
  }

  .swiper-pagination .swiper-pagination-progressbar-fill {
    background-color: #000;
  }
}
