@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply w-full border border-stone-300 px-4 py-3 text-inherit placeholder:text-inherit placeholder:text-stone-500 focus:outline-none;

    /* @apply focus:outline-none focus:ring-1 focus:ring-black focus:ring-offset-0; */
  }

  /* REMOVING SCROLLBARS */
  /* ... For firefox and ms respectively */
  .remove-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  /* ... For webkit */
  .remove-scrollbar::-webkit-scrollbar {
    width: 0 !important;
  }

  /* SWIPER CSS */
  /* Navigation buttons */
  .custom-prev,
  .custom-next {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 8px 14px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    z-index: 10;
  }

  @media (min-width: 768px) {
    .custom-prev,
    .custom-next {
      display: block;
    }
  }

  .custom-prev {
    left: 10px;
  }

  .custom-next {
    right: 10px;
  }

  /* Progress bar pagination */
  .swiper-pagination {
    position: absolute;
    top: 110% !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    width: 50% !important;
    background-color: transparent;
    border-bottom: 1px solid #333;
  }

  @media (min-width: 1024px) {
    .swiper-pagination {
      top: 115% !important;
    }
  }

  .swiper-pagination .swiper-pagination-progressbar-fill {
    background-color: #000;
  }

  /* Thumb gallery */
  .mySwiper .swiper-slide {
    opacity: 0.4;
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
    border: 1px solid #000;
  }

  .swiper .swiper-button-next,
  .swiper .swiper-button-prev {
    height: 100%;
    top: 20px;

    /* background-color: #000; */
  }

  .swiper .swiper-button-next {
    right: 5px;
  }

  .swiper .swiper-button-prev {
    left: 5px;
  }

  /* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
  .loader {
    width: 45px;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(theme(colors.black) 0 0);
    background:
      var(--c) 0% 50%,
      var(--c) 50% 50%,
      var(--c) 100% 50%;
    background-size: 20% 50%;
    animation: loading 1s infinite linear;
  }

  @keyframes loading {
    20% {
      background-position:
        0% 0%,
        50% 50%,
        100% 50%;
    }
    40% {
      background-position:
        0% 100%,
        50% 0%,
        100% 50%;
    }
    60% {
      background-position:
        0% 50%,
        50% 100%,
        100% 0%;
    }
    80% {
      background-position:
        0% 50%,
        50% 50%,
        100% 100%;
    }
  }
}

/* HORIZONTAL SPACING */
/* px-2 sm:px-4 md:px-8 xl:px-10 2xl:px-12 */
